@page "{id:int?}"
@model Carte2.Pages.Citoyens.EditModel

<h2>@(Model.Citoyen.Id == 0 ? "Creating" : "Editing") @Model.Citoyen.Nom</h2>

<form method="POST">
    <input type="hidden" asp-for="Citoyen.Id" />
    <div class="form-group">
        <label asp-for="Citoyen.Nom"></label>
        <input asp-for="Citoyen.Nom" class="form-control" />
        <span class="text-danger" asp-validation-for="Citoyen.Nom"></span>
    </div>
    <div class="form-group">
        <label asp-for="Citoyen.Prenom"></label>
        <input asp-for="Citoyen.Prenom" class="form-control" />
        <span class="text-danger" asp-validation-for="Citoyen.Prenom"></span>
    </div>
    <div class="form-group">
        <label asp-for="Citoyen.Age"></label>
        <input asp-for="Citoyen.Age" class="form-control" />
        <span class="text-danger" asp-validation-for="Citoyen.Age"></span>
    </div>
    <div class="form-group">
        <label asp-for="Citoyen.CIN"></label>
        <input asp-for="Citoyen.CIN" class="form-control" />
        <span class="text-danger" asp-validation-for="Citoyen.CIN"></span>
    </div>

    <button class="btn btn-primary" type="submit">Enregistrer</button>

</form>
